

<h1>All Blogs</h1>
{{#if dbErrorOccurred}}
	<p>Can't display the page now, try again later.</p>
{{else}}
	{{#if isLoggedIn}}
		<a href="/blogs/create"><button>Create Blog</button></a> <br><br>
	{{/if}}
	{{#if blogs.length}}
		{{#each blogs}}
			<a href="/blogs/{{id}}"><h5 style="display: inline;">{{title}}</h5>  <em>{{date}}</em><br><p>{{blogEntry}}</p></a>
		{{/each}}
	{{else}}
		<p>There are no Blogs.</p>
	{{/if}}
	
{{/if}}