

<h1>Blog Entry</h1>
{{#if blog}}
	<h5>{{blog.title}}  </h5>
	<em>{{blog.date}}</em>
	<p>{{blog.blogEntry}}</p>

	{{#if isLoggedIn}}
		<a href="/blogs/update/{{blog.id}}"><button>Update</button></a> <br><br>
		<form action="/blogs/remove/{{blog.id}}" method="POST">
			<input type="submit" value="Delete">
		</form>
	{{else}}
		<a href="/comments/create"><button>Comment</button></a>
	{{/if}}
	
{{else}}
	<p>No blog with that title exists.</p>
{{/if}}