

<h1>Comment</h1>
{{#if comment}}
	<h5>{{comment.commentId}}  </h5>
	<em>{{comment.userId}}. {{comment.userName}}</em>
	<p>{{comment.theComment}}</p>

    <a href="/comments/update/{{comment.id}}"><button>Update</button></a> <br><br>
	{{#if isLoggedIn}}
		<form action="/comments/remove/{{comment.id}}" method="POST">
			<input type="submit" value="Delete">
		</form>
	{{else}}
		<a href="/comments/create"><button>Comment</button></a>
	{{/if}}
	
{{else}}
	<p>No comment with that title exists.</p>
{{/if}}