

<h1>Comment</h1>
{{#if comment}}
	<h5>{{comment.commentId}}  </h5>
	<b>Title: </b>  <em>{{comment.blogTitle}} </em> <b>User: </b> <em>{{comment.username}}</em>
	<p>{{comment.comment}}</p>
	{{#if isLoggedIn}}	
		<a href="/comments/update/{{comment.id}}"><button>Update</button></a>
		<form action="/comments/delete/{{comment.id}}" method="POST" style="display: inline;">
			<input type="submit" value="Delete">
		</form>
	{{/if}}
	<a href="/comments/create"><button>Add Comment</button></a>
	
{{else}}
	<p>No comment with that title exists.</p>
{{/if}}