<h1>Delete Follower</h1>

<form method="POST">
	<div>
		<input type="text" name="date" value="{{follower.date}}">
	</div>
    <div>
		<input type="text" name="firstname" value="{{follower.firstname}}">
	</div>
    <div>
		<input type="text" name="secondname" value="{{follower.secondname}}">
	</div>
    <div>
		<input type="text" name="city" value="{{follower.city}}">
	</div>
	<div>
		<input type="text" name="description" value="{{follower.description}}">
	</div>
	<input type="submit" value="Delete">
</form>