

<h1>User</h1>

{{#if user}}

	<h5><b>ID:</b> {{user.id}}</h5>
	<h6><b>Name:</b> {{user.name}}</h6>
	<em><b>Age:</b> {{user.age}}</em> <br><br><br>
	
	{{#if isLoggedIn}}
		<a style="display: inline-block;" href="/users/update/{{user.id}}"><button>Update</button></a>
		<form style="display: inline-block;" action="/users/remove/{{user.id}}" method="POST">
			<input type="submit" value="Delete">
		</form>
	{{/if}}
	
{{else}}
	<p>No user with that name exists.</p>
{{/if}}