

<h1>Users List</h1>

{{#if dbErrorOccurred}}
	<p>Can't display the page now, try again later.</p>
	<h5>db error</h5>
{{else}}
	{{#if users.length}}
		{{#each users}}
			<a href="/users/{{id}}">{{id}}. {{name}}: {{age}} </a> <br>
		{{/each}}
	{{else}}
		<p>There are no Users.</p>
	{{/if}}
{{/if}}